<.live_component module={AnkaaWeb.PatientNav} id="patient-nav"
current_path={@current_path} current_user={@current_user} />
<div class="py-10">
  <main>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8"><%= @inner_content %></div>
  </main>
</div>
